h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
}
p {
    font-family: 'Poppins', sans-serif;
}


#enterTask {
    height: 50px;
    width: 60%;
    font-family: 'Poppins', sans-serif;
    padding:5px;
    border-radius: 20px;
    
}

#headerAndInput {
    background-color: rgb(255, 81, 113);
    padding: 15px;
    border-radius: 20px;
    width: 75%;
    margin:25px;
}

#dueDate {
    border-radius: 20px;
    margin: 5px;

}

#taskTable td {
    width: 75%;
    font-family: 'Poppins', sans-serif;


}

#taskTable tr {
    width: 75%;
    font-family: 'Poppins', sans-serif;


}


#completedTable td {
    font-family: 'Poppins', sans-serif;

}


.deleteButton{
    float: right;
    font-family: 'Poppins', sans-serif;
    margin:10px;
    border-radius: 20px;
}

.completedButton {
    float: right;
    font-family: 'Poppins', sans-serif;
    margin:10px;
    border-radius: 20px;
}

#addTask {
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    margin:10px;


}

#taskTableDiv {
    background-color: rgb(197, 197, 197);
    padding: 15px;
    border-radius: 20px;
    width: 75%;
    margin: 25px;
    float: left;
}

#completedTableDiv {
    background-color: rgb(6, 250, 189);
    padding: 15px;
    border-radius: 20px;
    width: 75%;
    margin: 25px;
    float: left;
}